.Pagination {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .title {
    color: #42567a;
    font-size: 14px;
    font-weight: 400;
    height: 18px;
  }

  & .controls {
    display: flex;
    gap: 20px;

    .prev {
      transform: rotate(180deg);

      &.inactive {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .next {
      &.inactive {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  @media (max-width: 1439px) {
    gap: calc(10px + (20 - 10) * ((100vw - 320px) / (1439 - 320)));

    & .title {
      height: calc(14px + (18 - 14) * ((100vw - 320px) / (1439 - 320)));
    }

    & .controls {
      gap: calc(8px + (20 - 8) * ((100vw - 320px) / (1439 - 320)));
    }
  }

  @media (max-width: 320px) {
    gap: 10px;

    & .controls {
      gap: 8px;
    }
  }
}
