@use '../../sass/lib';

.container {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 100px;
  padding-right: 80px;
  padding-left: 80px;
  box-shadow:
    inset -0.5px 0px 0px 0px rgb(66, 86, 122, 0.1),
    0.5px 0px 0px 0px rgb(66, 86, 122, 0.1),
    inset 0.5px 0px 0px 0px rgb(66, 86, 122, 0.1),
    -0.5px 0px 0px 0px rgb(66, 86, 122, 0.1);
  background: #f4f5f9;
  position: relative;

  @include lib.media('max') {
    padding-top: lib.calcValueBetweenMinMax(60, 180);
    padding-bottom: lib.calcValueBetweenMinMax(15, 100);
    padding-right: lib.calcValueBetweenMinMax(20, 80);
    padding-left: lib.calcValueBetweenMinMax(20, 80);
    box-shadow: none;
  }

  @include lib.media('min') {
    padding-top: 60px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
