.slider {
  position: relative;
  opacity: 1;

  & .prev {
    position: absolute;
    top: 50px;
    left: -40px;
    transform: rotate(180deg) translateX(50%);

    @media (max-width: 1439px) {
      left: calc(-10px + (-40 + 10) * ((100vw - 320px) / (1439 - 320)));
    }
  
    @media (max-width: 320px) {
      left: -10px;
    }

    &.inactive {
      display: none;
    }
  }

  & .next {
    position: absolute;
    top: 50px;
    right: -40px;
    transform: translateX(50%);

    @media (max-width: 1439px) {
      right: calc(-10px + (-40 + 10) * ((100vw - 320px) / (1439 - 320)));
    }
  
    @media (max-width: 320px) {
      right: -10px;
    }

    &.inactive {
      display: none;
    }
  }
}
