@use '../../sass/lib';

.slider {
  position: relative;
  opacity: 1;

  & .prev {
    position: absolute;
    top: 50px;
    left: -40px;
    transform: rotate(180deg) translateX(50%);

    &.inactive {
      display: none;
    }
  }

  & .next {
    position: absolute;
    top: 50px;
    right: -40px;
    transform: translateX(50%);

    &.inactive {
      display: none;
    }
  }

  @include lib.media('max') {
    & .prev {
      left: lib.calcValueBetweenMinMax(-10, -40);
    }

    & .next {
      right: lib.calcValueBetweenMinMax(-10, -40);
    }
  }

  @include lib.media('min') {
    & .prev {
      left: -10px;
    }

    & .next {
      right: -10px;
    }
  }
}
